# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# vercel
.vercel

# IDE / OS
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Firebase Service Accounts & Credentials
pandu-2465d-firebase-adminsdk-fbsvc-264df7ce84.json